streamlit>=1.32
earthengine-api>=1.0
geemap>=0.31
leafmap>=0.30
plotly>=5.17
branca>=0.6
pandas>=2.1
numpy>=1.26
requests>=2.31
folium>=0.14
pyproj>=3.5
shapely>=2.0
geopandas>=0.14
rtree>=1.0
scikit-learn>=1.3

